@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* end box-sizing reset */

body{
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
  color: #293264;
  min-height: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
}

#root{
  width: 100%;
  
}

#root > img{
  position: fixed;
  width: 250px;
  z-index: -1;
}

#root > img.yellow-blob{
  top: 0;
  right: 0;
}

#root > img.blue-blob{
  bottom: 0;
  left: 0;
}

hr{
  border: 0.79px solid #DBDEF0;
  margin: 1em 0;
}


