@charset "utf-8";
/* CSS Document */

/* box-sizing reset */
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}
/* end box-sizing reset */

body{
  font-family: "Karla", sans-serif;
  background-color: #F5F7FB;
  color: #293264;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


section.home-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.875em;
}

section.home-container > h1{
  margin-top: 0;
  margin-bottom: 0.4375em;
}

section.home-container > p{
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.8125em;
}

section.home-container > button{
  font-family: "Inter", sans-serif;
  border-radius: 15px;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  font-size: 16px;
  padding: 1em 1.75em;
}

section.home-container > img{
  position: absolute;
  width: 200px;
}

section.home-container > img.yellow-blob{
  top: 0;
  right: 0;
}

section.home-container > img.blue-blob{
  bottom: 0;
  left: 0;
}


